<div class="container">

    {{#if workouts}}
    {{#each workouts}}

    <div class="card shadow-lg p-3 mb-2 bg-white rounded" id="{{_id}}">
        <div class="row workout-title" id="{{_id}}">
            <div class="col-md-10 text-center">
                <h2 class="card-title">{{name}}</h2>
            </div>
            <div class="col-md-2">
                <button class="workout-delete btn btn-danger" id="{{_id}}">Delete
                    Workout</button>
            </div>
        </div>
        <div class="exercise-entry">
            <form class="new-exercise p-2" id="{{_id}}">
                <div class="row">
                    <div class="form-group col-md-6 row">
                        <label class="col-md-3" for="exer-name">Exercise:</label>
                        <input class="form-control col-md-8" type="text" name="exer-name"
                            placeholder="DB Bench Press, DB Reverse Fly, etc.">
                    </div>
                    <div class="form-group col-md-6 row">
                        <label class="col-md-6" for="exer-count">Enter Sets and Reps:</label>
                        <input class="col-md-3 form-control" type="number" name="exer-count" placeholder="# of sets">
                        <input class="col-md-3 form-control" type="text" name="exer-count" placeholder="reps & weight">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 row">
                        <div class="col-md-10 row">
                            <div class="col-md-2 text-right">
                                <label for="exer-notes">Notes:</label>
                            </div>
                            <div class="col-md-10">
                                <textarea class="form-control" type="text" name="exer-notes"
                                    placeholder="Notes about this workout" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex flex-wrap justify-content-around">
            {{> workout-block}}
        </div>


    </div>

    {{/each}}
    {{else}}
    <div class="card text-center">
        <div class="card-body"></div>
        <h3 class="card-title">No workouts entered.</h3>
        <br>
        <p class="card-text">Create a workout to finally have your dream body!</p>
    </div>
    {{/if}}


</div>